body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed black;
  width: 10.7%;
}

.round-container {
  border-radius: 50%;
  border: 1px solid #3b412a;
  width: 31px;
  height: 31px;
  position: relative;
  left: 22px;
  top: 5px;
}

.contact-holder {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
}

.name-container {
  font-weight: 800;
}